body{
    background-color: chocolate;
}
h1{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.box{
    width: 100px;
    margin: auto;
}

.number{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    position: relative;
    left: -20px;
    bottom: -20px;
}

.box1:hover{
    width: 200px;
    transition: width 4s linear;
}
.box2:hover{
    width: 200px;
    height: 200px;
    transition-delay: 4s;
}

.sameBox{
    height: 120px;
    width: 120px;
    background-color: maroon;
}

a{
    font-size: 30px;
    font-weight: 600;
}

